<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Inscription</title>
<link rel="stylesheet" href="../static/css/style .css">
</head>

<body>

    <nav>
    <h1 class="logo">MentorLink🎓</h1>
    </nav>

<div class="card">

<h2>Inscription</h2>

<form>

<input type="text" placeholder="Nom">

<input type="text" placeholder="Prénom">

<input type="tel" placeholder="Téléphone">

<input type="email" placeholder="Email">

<input type="password" placeholder="Mot de passe">

<select>
<option>IA</option>
<option>GL</option>
<option>IM</option>
<option>SI</option>
<option>SE&IoT</option>
</select>

<div class="form-group">
                <label>Niveau d'étude </label>
                <select id="niveau">
                    <option value="">-- Choisir --</option>
                    <option>Licence 1</option>
                    <option>Licence 2</option>
                    <option>Licence 3</option>
                    <option>Master 1</option>
                    <option>Master 2</option>
                </select>
</div>            
<button type="submit">
Créer un compte
</button>

</form>

</div>

</body>
</html>